<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} Rocks</title>
    <!-- https://www.iconfinder.com/icons/4544847/business_comerce_delivery_shop_icon?coming-from=related-results -->
    <!-- https://www.guitarcenter.com/Fender/Player-Stratocaster-HSS-Pau-Ferro-Fingerboard-Limited-Edition-Electric-Guitar-Candy-Red-Burst-1500000257000.gc?rNtt=red%20electric&index=4 -->

</head>
<body>
    <main>
        <nav class="px-12 py-10 flex justify-between items-center">
            <a href="/" class="text-2xl font-bold">Guitar Rocks.</a>
            <div class="space-x-2 text-lg font-semibold">
                <a href="#" class="hover:text-red-800 px-3">Card</a>

                {% if request.user.is_authenticated %}
                <a href="#" class="px-4 py-3 bg-red-800 text-white rounded-xl hover:bg-red-700">Inbox</a>
                <a href="#" class="px-4 py-3 bg-red-800 text-white rounded-xl hover:bg-red-700 ">Dashboard</a>
                {% else %}
                <a href="{% url 'core:signup' %}" class="px-4 py-3 bg-red-800 text-white rounded-xl hover:bg-red-700">Sign Up</a>
                <a href="{% url 'core:login' %}" class="px-4 py-3 bg-red-800 text-white rounded-xl hover:bg-red-700 ">Log In</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}{% endblock %}
    </main>

    <footer class="px-6 py-6 bg-zinc-900 text-white font-semibold">
        <div>
            <ul class="flex flex-row justify-center space-x-10">
                <h3>Menu</h3>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Terms of use<a></li>
            </ul>
        </div>


    </footer>
    
</body>
</html>