{% extends 'core/base.html' %} 

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="mx-8 px-12">
        <h3 class="text-xl font-bold flex justify-center">Show Now</h3>
        <div class="grid grid-cols-3 gap-2 text-center font-semibold font-xl">
            <div>
                <div class="flex justify-center">
                    {% load static %} <img src="{% static 'free.png' %}" class="box-border h-32 w-32 p-4" alt="">
                </div> 
                <h3>Free Shipping Insurance</h3>
            </div>
            <div>
                <div class="flex justify-center">
                    {% load static %} <img src="{% static 'pay.png' %}" class="box-border h-32 w-32 p-4" alt="">
                </div>
                <h3>Secure Payment</h3>
            </div>            
            <div>
                <div class="flex justify-center">
                    {% load static %} <img src="{% static 'quick.png' %}" class="box-border h-32 w-32 p-4" alt="">
                </div>
                <h3>Quick Delivery</h3>
            </div>
        </div>
    </div>

    <div class="mx-8 my-6 mt-12 px-12 py-6 bg-zinc-100 rounded-xl shadow-lg">

        <h3 class="text-xl font-bold flex justify-center">Our Products</h3>
        
        <div class="font-semibold font-xl grid grid-cols-3 gap-2 py-5">
            {% for product in products %}
            <div class="py-4">
                <a href="{% url 'product:detail' product.id %}">
                    <div class="grid grid-cols-2 gap-3">
                        <img src="{{ product.image.url }}" class="rounded-xl" alt="">
                        <div class="space-y-8">
                            <h3 class="font-semibold">{{ product.name }}</h3>
                            <h3>Price: ${{ product.price }}</h3>
                            <p><a href="#" class="px-3 py-3 bg-red-800 text-white rounded-xl hover:bg-red-700">Buy Product</a></p>
                        </div>
                    </div>
                </a>
                
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}